* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.hidden {
  display: none !important;
}

.container {
  background-color: rgb(187, 177, 177);
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-rem {
  background-color: #9074c5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-rem {
  background-color: #71caab;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.one,
.two,
.three {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
}

.one {
  background-color: rgb(255, 95, 95);
  transform: scale(0.9);
}

.three {
  background-color: #76af21;
  /* transform: rotate(77deg); */
  /* transform: skew(218deg, 338deg); */
  transition-duration: 1.2s;
  transition-delay: 1s;
  transition-property: transform;
}

.three:hover {
  background-color: #615a5a;
}

.all {
  margin: 0 auto;
  border: 1px solid;
}
.two {
  background-color: #ff34b1;
  animation-name: myId;
  animation-duration: 8s;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
}

@keyframes myId {
  0% {
    width: 50px;
    height: 50px;
  }
  10% {
    width: 10px;
    height: 10px;
    border-radius: 0%;
  }
  20% {
    transform: translate(0, 0);
    width: 500px;
    height: 3px;
  }
  25% {
    width: 10px;
    height: 10px;
    transform: translateX(500px);
  }
  100% {
    width: 50px;
    height: 50px;
    transform: translateX(500px);
  }
}
