@font-face {
  font-family: "Courgette";
  src: url(./Courgette-Regular.woff2) format(woff2),
    url(./courgette-regular.woff) format(woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LatoBold";
  src: url("./Lato-Bold.woff2") format(woff2),
    url(./lato-bold.woff) format(woff);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "LatoRegular";
  src: url("./Lato-Regular.woff2") format(woff2),
    url(./lato-regular.woff) format(woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Limelight";
  src: url("./Limelight-Regular.woff2") format(woff2),
    url(./Limelight-Regular.woff) format(woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff2") format(woff2),
    url(./Roboto-Regular.woff) format(woff);
  font-style: normal;
  font-weight: 400;
}
